.skills {
    margin-left: 100px;
    margin-bottom: 12rem;
    height: 100%;
    background: var(--background-color);
    width: 50%;
    margin: auto;
}

.skills__info {
    display: flex;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: #D1D5DB;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.skills__title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #D1D5DB;
    font-size: var(--mb-3);
    line-height: 2.5rem;
    font-weight: 700;
    border-bottom-width: 8px;
    border-color: #DB2777;
}

.skills__paragraph {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    margin-bottom: 5rem;
    margin-top: 5rem;
    font-size: 2rem;
}

.skills__card {
    display: grid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #D1D5DB;
    text-align: center;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

@media (min-width: 640px) {
    .skills__card {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.skills__card-info {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: all .5s;
}

.skills__card-info:hover {
    box-shadow: 0 4px 6px -1px var(--skin-color);
    scale: 1.10;
}

.skills__image {
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
}

.skills__name {
    margin-top: 1rem;
    margin-bottom: 1rem;
}